<header>
    <h1><em>github</em> desktop</h1><br>
    <img class="police" src="<%= require("../img/atm-warn.png") %>" alt="">
    <hr>
    <a href="./">Home</a>
    <a href="./about.html">About</a>
    <a href="./todolist.html">Todolist</a>
    <a href="./week2.html">weeek2</a>
</header>